<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <style>
     	ul{list-style-type: none}
     </style>
     <div class="container">
            <%- include('../partials/navbar') %></div>
     <h1>Welcome <%=user.username%>, this is your User Homepage </h1>

     <section>
          <h2>Your Reviews:</h2>
          <ul>
              <% for(let i = 0; i < user.reviews.length; i++){ %>
              	<li>Title: <%=user.reviews[i].subject%></li>
              	<li>Rating: <%=user.reviews[i].rating%></li>
              	<li>Review: <%=user.reviews[i].body%></li>
              </br>
		        <form action="/reviews/<%=user.reviews._id%>?_method=DELETE" method="POST">
		        <a href="/reviews/<%=user.reviews._id%>/edit">Edit This Review</a>
		          <button type='submit'>Delete Review</button>
		        </form></br>
              <% } %>
           </ul>
          
      </section>
     

</body>
</html>